#titleAndDesc {
    align-content: center;
    margin: 5% 25%;
}

body {
    text-align: center;
    color: black;
    font-size: 18px;
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
}

form {
    display: inline-block;
}
