#titleAndDesc {
    align-content: center;
    margin: 5% 25%;
}

body {
    text-align: center;
    color: black;
    font-size: 18px;
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
}

form {
    display: inline-block;
}
 table{
    border: 1px solid black;
    width: 300px;
}
th{
    width: 100px;
} 
.container{
    border: 5px solid black;
}